/*=== login page =====*/
.login {
	text-align: center;
	width: 300px;
	margin: 0 auto;
	padding: 20px;
	background-color: #e8e8e8;
	border: 1px solid #b3b3b3;
	border-radius: 3px;
}

.login input {
	width: 270px;
	padding: 5px;
	margin: 5px;
}
.login input[type=submit] {
	width: 170px;
	color: #fff;
	background-color: #008300;
	border: none;
	border-radius: 3px;
}
.login input[type=submit]:hover {
	cursor: pointer;
	background-color: #005a00;
}

/*=========== admin table ========*/
.admin table {
	width: 400px;
	margin: 10px auto;
}
.admin table tr td {
	border: 1px solid #484848;
	padding: 5px;
}
.admin table a {
	color: #358ac8;
	text-decoration: none;
}
.admin table a:hover {
	color: #1c4968;
}
.admin a {
	color: #358ac8;
	text-decoration: none;
}
.admin a:hover {
	color: #1c4968;
}

/*==== admin page ======*/
.admin {
	text-align: center;
	width: 600px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f4f4f4;
	border: 1px solid #b3b3b3;
	border-radius: 2px;
}
.admin h2 {
	padding: 0 0 5px 0;
	margin: 0;
	font-size: 20px;
	border-bottom: 2px solid #ccc;
}
/*======== admin menu =======*/
.admin .top-menu ul {
	padding: 0 0 10px 0;
	margin: 10px 0 0 0;
	border-bottom: 2px solid #ccc;
}
.admin .top-menu ul li {
	padding-right: 8px;
	display: inline-block;
	font-family: fantasy;
	font-size: 15px;
}
.admin .top-menu ul li a {
	text-decoration: none;
	color: #000;
}
.admin .top-menu ul li a:hover {
	text-decoration: none;
	color: #4e4e4e;
}

/*======== admin add cat ========*/
.setting {
	margin-top: 10px;
	border-bottom: 2px solid #ccc;
	padding-bottom: 10px;
}
.setting input {
	padding: 5px;
}
.setting input[type=submit] {
	padding: 0;
	cursor: pointer;
}

.post {
	margin-top: 10px;
}
.post input, .post select {
	width: 400px;
	padding: 5px;
	margin: 5px;
}
.post textarea {
	width: 400px;
	resize: none;
}
.post input[type=submit] {
	padding: 5px;
	cursor: pointer;
	width: 130px;
}

.comment-item {
	border: 1px solid #aeaeae;
	border-radius: 3px;
	margin: 5px;
	padding: 5px;
	text-align: left;
}
.comment-item .comment-username {
	font-size: 18px;
}
.comment-item .comment {
	font-size: 20px;
}

.comment-item .comment-post-name {
	font-size: 12px
}